@use '../../styles/colors';
@use '../../styles/dimensions';

.base {
  background-color: colors.$grey;
  border-radius: 25px;
  width: 400px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: dimensions.$header-height;
}

.container .baseInput {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  padding: 5px 10px;
}

.clearButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
