@use '../../styles/colors';

.base {
  padding: 20px 0;
}

.container {
  padding: 0 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }
}
