$text_primary: rgb(244, 244, 245);
$text_secondary: rgb(163, 178, 186);
$background_primary: rgb(255, 255, 255);
$background_secondary: rgb(232, 233, 242);
$border_primary: rgba(0, 0, 0);

$primary: rgb(255, 98, 0);
$secondary: rgb(58, 58, 154);

$background_overlay: rgba(0, 0, 0, 0.4);

$background_disabled: rgb(206, 202, 202);
$text_disabled: rgb(185, 185, 185);

$date: rgb(92, 108, 116);
$link: rgb(87, 111, 219);
$link_visited: rgb(88, 77, 141);
$divider: rgba(0, 0, 0, 0.098);
