@use '../../styles/colors';
@use '../../styles/dimensions';

.base {
  padding: 20px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 5px;
  }
}

.actionButtonBase {
  height: dimensions.$header-height;
}

.actionButton {
  height: 100%;
  padding: 0 20px;
  border-radius: 9999px;

  .actions &__login {
    background-color: colors.$primary;
    color: colors.$text_primary;
  }
}

.actions .user {
  background-color: transparent;
}
